docker.enabled = true

process {
	container = 'sha256:851096a84fed79e193d9fafccf70f989a27efc9086161a1a47ce4ddbd44183a7'

  withLabel: with_gpus {
         maxForks = 1
	 containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
	 ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
} 