docker.enabled = true
docker.fixOwnership = true
params.quality_control_processes = true
params.basecalling_dir = "/analysis/2021_08_26_PlasmidSeq_paper/run_120/results/guppy/basecalling/pass/"
params.base_calling_summary_file = "/analysis/2021_08_26_PlasmidSeq_paper/run_120/results/guppy/basecalling/sequencing_summary.txt"

process {
        container = 'aaronmck/plasmidassembly:trial'

  withLabel: with_gpus {
         maxForks = 1
	 containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
	 ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
} 