docker.enabled = true
docker.fixOwnership = true
process {
	container = 'sha256:a2dd74eb129a28060843ff15318765d2b392158542c356141d54d18801c98b7a'

  withLabel: with_gpus {
         maxForks = 1
	 containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
	 ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
} 