//The paths in this config file need to be absolute not relative.
//Here I am showing the paths used on our lab machine, you should change them to where you cloned CircuitSeq 

//running quality control: true or false
params.quality_control_processes = true

//Since we are starting from basecalled data we set "use_existing_basecalls" to true
params.use_existing_basecalls = true
//path to fastq directory
params.basecalling_dir = "/analysis/Francesco/Plasmid_Sequencing/2022_06_07_CircuitSeq_test_data/Circuitseq/example_data/fastq/pass"
//path to sequencing_summary file
params.base_calling_summary_file = "/analysis/Francesco/Plasmid_Sequencing/2022_06_07_CircuitSeq_test_data/Circuitseq/example_data/fastq/sequencing_summary.txt"

//absolute path to the singularity file 
singularity{
        enabled = true
        autoMounts = true
}
process {
        container = '/analysis/2022_03_18_Evan_PS/plasmidassembly.sif'
  withLabel: with_gpus {
         maxForks = 1
         containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
         ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
}