####################
#
# barcode_arrs_multivirus8.cfg
#
#  Created on: 8 Dec, 2020
#  Proprietary and confidential information of Oxford Nanopore Technologies, Limited
#  All rights reserved; (c)2020: Oxford Nanopore Technologies, Limited
#
####################

[loading_options]
barcodes_filename = barcodes_masked.fasta
targets_filename = multivirus_targets.fasta
double_variants_frontrear = true

# ############### LAMP barcodes ###############

[LAMP%02i]
compatible_kits = OND-SQK-RP0384L
first_index = 11
last_index = 18
kit = MULTIVIRUS
normalised_id = FIP%02i
barcode1 = LM%02i
lamp_masks = human_ACTB,nCoV2019_E1,nCoV2019_N2,nCoV2019_AS1,H1N1_Seg4,H3N2_HA,FluB_NB,RSVA_rsva,RSVB_rsvb
