####################
#
# barcode_arrs_ncov96.cfg
#
#  Created on: May 15, 2020
#  Proprietary and confidential information of Oxford Nanopore Technologies, Limited
#  All rights reserved; (c)2020: Oxford Nanopore Technologies, Limited
#
####################

[loading_options]
barcodes_filename = barcodes_masked.fasta
targets_filename = ncov_targets.fasta
double_variants_frontrear = true

# ############### LAMP barcodes ###############

[LAMP%02i]
compatible_kits = OND-SQK-LP9216,OND-SQK-LP1152S
first_index = 1
last_index = 8
kit = LAMP
normalised_id = FIP%02i
barcode1 = LM%02i
lamp_masks = human_ACTB,nCoV2019_E1,nCoV2019_N2,nCoV2019_AS1
