####################
#
# barcode_arrs_nb12.cfg
#
#  Created on: November 14, 2018
#  Proprietary and confidential information of Oxford Nanopore Technologies, Limited
#  All rights reserved; (c)2017: Oxford Nanopore Technologies, Limited
#
####################
#
# Barcode Design 2
#
####################
#
#  2-Barcode Arrangement Variant 1:
#  
#         BCXX_1st                           BCXX_2nd
#  FWD  >-=====------------------------------=====-\
#                                                   |
#  REV  <-=====------------------------------=====-/
#         BCXX_1st                           BCXX_2nd
#
#  leads to basecall BCXX_1st_FWD----------BCXX_2nd_REV
#
###
#
#  2-Barcode Arrangement Variant 2:
#
#     BCXX_1st                           BCXX_2nd
#   /-=====------------------------------=====->  REV
#  |
#   \-=====------------------------------=====-<  FWD
#     BCXX_1st                           BCXX_2nd
#
#  leads to basecall BCXX_2nd_FWD----------BCXX_1st_REV
#
#  the sequences BCXX_1st and BCXX_2nd will be equal
#  for most of their parts, especially for the main barcode.
#  They will usually only differ in the rear spacer between
#  barcode and (actual) strand.
#
####################

[loading_options]
barcodes_filename = barcodes_masked.fasta
double_variants_frontrear = true

# ############### Native barcoding kit ###############

[NB%02i]
compatible_kits = EXP-NBD104,EXP-NBD103
first_index = 1
last_index = 12
kit = NB
normalised_id = barcode%02i
scoring_function = MAX
mask1 = NB_1st
mask2 = NB_2nd
barcode1 = NB%02i
barcode2 = NB%02i
