//Config file is mostly to activate the singularity functionality, no need to change anything in here. 

singularity{
        enabled = true
        autoMounts = true
}

process {
        
  withLabel: with_gpus {
         maxForks = 1
         containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
         ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
}

//If you want to make modifications to this file, the paths in this config file need to be absolute not relative.

