//The paths in this config file need to be absolute not relative.
//Here I am showing the paths used on our lab machine, you should change them to where your files are 

//running quality control: true or false
params.quality_control_processes = true

//Since we are starting from fast5 data we set "use_existing_basecalls" to false
params.use_existing_basecalls = false


//we also have to comment out the params for basecalling_dir and base_calling_summary_file because nextflow doesnt accept empty inputs

//path to fastq directory
//params.basecalling_dir = "<path>"
//path to sequencing_summary file
//params.base_calling_summary_file = "<path>"

//absolute path to the singularity file 
singularity{
        enabled = true
        autoMounts = true
}
process {
        container = '/analysis/2022_03_18_Evan_PS/plasmidassembly.sif'
  withLabel: with_gpus {
         maxForks = 1
         containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
         ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
}