docker.enabled = true
docker.fixOwnership = true
params.quality_control_processes = true
params.nextpolish_cfg = "<path_to_run.cfg>"

process {
        container = 'aaronmck/plasmidassembly:trial'

  withLabel: with_gpus {
         maxForks = 1
	 containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
	 ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
} 