docker.enabled = true
docker.fixOwnership = true
params.quality_control_processes = true
params.nextpolish_cfg = "/home/f002sd4/analysis/2021_12_15_learning_git_fixing_circuitseq/Circuitseq/pipelines/run.cfg"
params.do_basecalling = false
params.base_calling_summary_file = "/analysis/2022_01_06_new_git/runs/v1/results/guppy/basecalling/sequencing_summary.txt"
params.basecalling_dir = "/analysis/2022_01_06_new_git/runs/v1/results/guppy/basecalling/pass/"

process {
        container = 'aaronmck/plasmidassembly:trial'

  withLabel: with_gpus {
         maxForks = 1
	 containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
	 ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
} 