docker.enabled = true
docker.fixOwnership = true
params.quality_control_processes = true
params.nextpolish_cfg = "<path_to_nextpolish.cfg>"

params.use_existing_basecalls = true
params.base_calling_summary_file = "<path_to_/sequencing_summary.txt>"
params.basecalling_dir = "<path_to_basecalling_dir/pass/>"


process {
        container = 'aaronmck/plasmidassembly:trial'

  withLabel: with_gpus {
         maxForks = 1
	 containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
	 ( workflow.containerEngine == "docker" ? '--gpus all': null )}
  }
} 